cmake_minimum_required(VERSION 3.10)

# set the project name and version
project({{ problem_name }} VERSION 1.0)

# specify the C++ standard
set(CMAKE_CXX_STANDARD 11)
set(CMAKE_CXX_STANDARD_REQUIRED True)

# add the executable
set(SOURCES
    {{ problem_name }}/{{ problem_name }}.cpp
)
add_executable(test-solution-to-{{ problem_name }} ${SOURCES})

# add the libraries
set(LIB_ROOT "${CMAKE_CURRENT_SOURCE_DIR}/../../libs/")
set(LIBS
    # Add library names here
)
foreach(LIB "${LIBS}")
    if(WIN32)
        set(LIB_PATHS "${LIB_PATHS}" "${LIB_ROOT}/${LIB}/.build/Debug/${LIB}.lib")
    elseif(UNIX)
        set(LIB_PATHS "${LIB_PATHS}" "${LIB_ROOT}/${LIB}/.build/${LIB}.a")
    endif()
endforeach()
target_include_directories(test-solution-to-{{ problem_name }} PRIVATE "${LIB_ROOT}")
target_link_libraries(test-solution-to-{{ problem_name }} PRIVATE "${LIB_PATHS}")

